:root {
   --background-color: #ffffff;
   --text-color: #2a2a2a;
   --main-color: #49735f;

   --text-color-dark-bg: #ffffff;
   --text-color-headlines: var(--main-color);
   --nav-inactive-color: #a0a0a0;

   --font-family-body: Helvetica, Arial, sans-serif;
   --font-family-monospace: "VT323", "Courier New", Courier, monospace;

   --grid-gap: 16px;
   --navmenu-width: 260px;

}

body {
   font-family: var(--font-family-body);
   color: var(--text-color);
   background-color: var(--background-color);
   font-size: 1.125rem;
}

h1 {
   font-size: 2.8rem;
   font-family: var(--font-family-monospace);
   color:var(--text-color);
   text-align: center;
   font-weight: 100;
}


/* The sidebar menu */
.navmenu {
   height: 100%;
   width: var(--navmenu-width);
   position: fixed; /*stays in position while scrolling*/
   left: 0;
   font-family: var(--font-family-monospace);
}

.right-nav-border {
   border-right: 1px solid var(--nav-inactive-color);
}

/* The navigation menu links */
.navmenu button {
   padding: 12px 12px;
   text-decoration: none; /*removes underline from hyperlink*/
   color: var(--text-color);
   display: block;
   border: none;
   background: none;
   font: var(--font-family-monospace);
   font-size: 1.8rem;
   text-align: left;
}

.center-vertical {
   margin: 0;
   position: absolute;
   top: 50%;
   /* -ms-transform: translateY(-50%); */ /*dunno why*/
   transform: translateY(-50%);
}

/*here lives the page content*/
.main {
   margin-left:  var(--navmenu-width);
   padding: 10px;
   /* Same as the width of the sidebar */

}

ul:hover button {
   filter: blur(2px);
   color: var(--nav-inactive-color)
}

ul:hover button:hover {
   filter: blur(0px);
   color: var(--text-color)
}