
#navmenu {
    padding: 0; 
    margin: 0; 
    order: 0; 
    line-height: 1;
}

ul,
ul li {
    list-style: none; 
    margin: 0; 
    padding: 0;
}

#navmenu ul li.hover,
#navmenu  ul li:hover {
    position: relative; 
    z-index: 599; 
    cursor: default;
}

#navmenu  {
    width: 200px; 
    background: #f7f7f7; 
    font-family:sans-serif; 
    font-weight:bold;
    zoom: 1; 
    font-size: 12px;
}

#navmenu :before {
    content: ''; 
    display: block;
}

#navmenu :after {
    content: ''; 
    display: table; 
    clear: both;
}

#navmenu  a {
    display: block; 
    padding: 15px 20px; 
    color: #f26724; 
    text-decoration: none;
    text-transform: uppercase; 
    border-bottom: 1px solid #ffffff;
}

#navmenu  > ul {
    width: 200px;
}
#navmenu  > ul > li > a {
    border-left: 4px solid #070d11; 
    color: #070d11;
}

#navmenu  > ul > li a:hover {
    background: #095586; 
    color:#f1f1f1;
}