:root {
   --background-color: #ffffff;
   --text-color: #2a2a2a;
   --inactive-color: #a0a0a0;
   --background-grid-color: #dfdfdf57;
   --font-family-monospace: "Courier New", Courier, monospace;
   --navmenu-width: 260px;
}

body {
   background-color: var(--background-color);
   font-size: 1.2rem;
   font-family: var(--font-family-monospace);
   color:var(--text-color);
   /*generating gridlines with very narrow gradients, lil bit hacky*/
   background-image: linear-gradient(var(--background-grid-color) 0.1rem, transparent 0.1rem), linear-gradient(90deg, var(--background-grid-color) .1rem, transparent .1rem);
   background-size: 1.8rem 1.8rem;
}

h1 {
   font-size: 2.8rem;
   text-align: center;
   font-weight: 100;
}

h2 {
   font-size: 2.0rem;
   text-align: center;
   font-weight: 600;
}

.chapter {
   /*initial value, overwritten by index.js for page navigation*/
   display: block;
}

.navmenu {
   height: 100%;
   width: var(--navmenu-width);
   /*stays in position while scrolling*/
   position: fixed; 
   left: 0;
}

.right-navmenu-border {
   border-right: 2px solid var(--inactive-color);
}

.navmenu button {
   padding: 12px 12px;
   color: var(--text-color);
   border: none;
   background: none;
   font: var(--font-family-monospace);
   font-size: 1.8rem;
   text-align: left;
}

.center-vertical {
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

ul > a {
   display: block;
   font-size: 1.8rem;
   color: var(--text-color);
   text-decoration: none;
   margin: 10px;
}

/*blur all links while hovering over navmenu*/
ul:hover a {
   filter: blur(2px);
   color: var(--inactive-color);
}

/*unblur the the pointed link*/
ul:hover a:hover {
   filter: blur(0px);
   color: var(--text-color);
}

ul > a:active{
   font-weight: bold;
}

ul > a:visited{
   font-weight: bold;
}

/*here lives the page content*/
.main {
   margin-left: var(--navmenu-width);
   padding: 10px;
}


.portrait-image {
   height: 200px;
   display: block;
   margin: 12px;
}

.entry > div {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;
   margin: 60px;
}

.entry > div:nth-child(even) {
   flex-direction: row-reverse;
   justify-content: right;
}

.about-text {
   font-style: italic;
   width: 50%;
   margin: 24px;
}

.generic-text {
   margin: 50px;
   font-size: x-large;
}

.highlighted-text {
   font-weight: 600;
}

.info-graphic {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.tree {
   display: block;
   margin: auto;
   text-align: center;
}

.link-tree {
      fill: none;
      stroke: #ccc;
      stroke-width: 5px;
}

pre {
   font-family: var(--font-family-monospace);
   font-weight: bold;
}

section {
   margin-top: 40px;
}

hr {
   border-top: 3px dashed var(--inactive-color);
}

@media only screen and (max-width: 1200px) {
   .entry > div {
      display: block;
      margin: 10px;
   }
   .about-text {
      width: 100%;
   }
 }