:root {
   --background-color: #ffffff;
   --text-color: #2a2a2a;
   --inactive-color: #a0a0a0;
   --background-grid-color: #e9e9e9;
   --font-family-monospace: "Courier New", Courier, monospace;
   --navmenu-width: 260px;
}

html {
   overflow: auto; /*DANGEROUS, tell me why need this*/
}

body {
   background-color: var(--background-color);
   font-size: 1.2rem;
   font-family: var(--font-family-monospace);
   color:var(--text-color);
   /*generating gridlines with very narrow gradients, lil bit hacky*/
   background-image: linear-gradient(var(--background-grid-color) 0.1rem, transparent 0.1rem), linear-gradient(90deg, var(--background-grid-color) .1rem, transparent .1rem);
   backdrop-filter: blur(2px);
   background-size: 1.8rem 1.8rem;
   /*next 3 lines needed for correct layout with blurry background*/
   width: 100%;
   height: 100%;
   margin: 0;
   overflow: auto; /*DANGEROUS, tell me why need this, OVERTHINK befor final hand-in*/
}

h1 {
   font-size: 2.8rem;
   text-align: center;
   font-weight: 100;
}

.chapter {
   /*initial value, overwritten by index.js for page navigation*/
   display: none;
}

/*sidebar menu*/
.navmenu {
   height: 100%;
   width: var(--navmenu-width);
   /*stays in position while scrolling*/
   position: fixed; 
   left: 0;
}

.right-navmenu-border {
   border-right: 2px solid var(--inactive-color);
}

.navmenu button {
   padding: 12px 12px;
   color: var(--text-color);
   border: none;
   background: none;
   font: var(--font-family-monospace);
   font-size: 1.8rem;
   text-align: left;
}

.center-vertical {
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

/*blur all buttons while hovering over navmenu*/
ul:hover button {
   filter: blur(2px);
   color: var(--inactive-color)
}

/*unblur the the pointed button*/
ul:hover button:hover {
   filter: blur(0px);
   color: var(--text-color);
}

/*here lives the page content*/
.main {
   margin-left: var(--navmenu-width);
   padding: 10px;
}

.about-chapter {
   margin: 100px 0px 0px 200px;
}

.portrait-image {
   height: 200px;
   display: block;
}

.about-entry {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin-right: 100px;
}

.about-entry > div {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.about-entry > div:last-child {
   flex-direction: row-reverse;
}

.about-text {
   font-style: italic;
   width: 50%;
   margin: 24px;
}

.generic-text {
   margin: 50px;
   font-size: x-large;
}

.highlighted-text {
   font-weight: 600;
}

.info-graphic {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.tree {
   display: block;
   margin: auto;
   text-align: center;
}

.link-tree {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
}

.limit-width {
   float: left;
   width: 500px;
}

.chapterButton:focus{
   font-weight: bold;
}